<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1>Monday Times</h1>
</header>

<nav>
    <ul>
        <li>News</li>
        <li>Sports</li>
        <li>Weather</li>
    </ul>
</nav>

<section>
    <h2>News section</h2>
    <article>
        <h2>New Article</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolor enim eos eum fugit impedit labore, magni minus non perferendis quasi quia ratione repellendus suscipit tenetur unde voluptate. Dignissimos, maiores!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolor enim eos eum fugit impedit labore, magni minus non perferendis quasi quia ratione repellendus suscipit tenetur unde voluptate. Dignissimos, maiores!</p>
    </article>
    <article>
        <h2>New Article</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolor enim eos eum fugit impedit labore, magni minus non perferendis quasi quia ratione repellendus suscipit tenetur unde voluptate. Dignissimos, maiores!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolor enim eos eum fugit impedit labore, magni minus non perferendis quasi quia ratione repellendus suscipit tenetur unde voluptate. Dignissimos, maiores!</p>
    </article>
</section>

<footer>
    <p>&copy; 2014 Monday Times. All rights reserved.</p>
</footer>
</body>
</html>